@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  position: relative;
  width: 1440px;
  height: 1024px;
  background: #eeeeee;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

button {
  cursor: pointer;
}

.btn-primary {
  background-color: #4e73df;
  border: 1px #4e73df;
  color: white;
}

.btn-primary:hover {
  color: #fff;
  background-color: #385dca;
  border-color: #385dca;
}

.btn-success {
  color: #fff;
  background-color: #1cc88a;
  border: 1px #1cc88a;
}

.btn-success:hover {
  color: #fff;
  background-color: #17a673;
  border-color: #169b6b;
}

nav {
  height: 60px;
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: -70px;
  background: linear-gradient(90.33deg, #1de099 0.05%, #1dc8cd 100%), #bbbbbb;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 20px;
  transition: all 0.5s ease-in-out;
}

nav ul li a.active {
  background-color: #3e9c7a;
}

nav ul li a:hover {
  background-color: #3e9c7a;
}

nav .menu-right {
  display: flex;
}

nav .menu-right .form input {
  height: 30px;
  border: 1px #eeeeee;
  border-radius: 5px 0px 0px 5px;
  padding: 0 5px;
}

nav .menu-right .form .btn-primary {
  margin-left: -5px;
  border-radius: 0px 5px 5px 0px;
  height: 30px;
  width: 50px;
}

nav .menu-right button {
  width: 100px;
  margin-right: 5px;
  border-radius: 5px;
}

@media screen and (max-width: 1200px) {
  nav {
    background: violet;
  }
}
