Options -Indexes
RewriteEngine On

# RewriteCond %{HTTPS} off
# RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

ErrorDocument 404 /error/404.php
ErrorDocument 403 /error/403.php

# CSS
RewriteRule ^css.php/(.*)$ css/$1

# plugin
RewriteRule ^plugins.php/(.*)$ vendor/$1

# js
RewriteRule ^javascript.php/(.*)$ js/$1

# img
RewriteRule ^images.php/(.*)$ images/$1

# User
RewriteRule ^login$ page/login.php
RewriteRule ^logout$ page/logout.php
RewriteRule ^registrasi$ page/registrasi.php
RewriteRule ^checkout$ page/checkout.php
RewriteRule ^keranjang$ page/keranjang.php
RewriteRule ^pemesanan$ page/pemesanan.php
RewriteRule ^pembelian$ page/pembelian.php

RewriteRule ^detail/(.*)$ page/detail.php?slug=$1

# Admin
RewriteRule ^admin/produk$ admin/page/produk.php