nav._bg-gradient-success {
  background: linear-gradient(90.33deg, #1DE099 0.05%, #1DC8CD 100%), #BBBBBB;
}

nav.navbar {
  padding: 0;
}

nav .navbar-nav .nav-item {
  padding: .5rem 1rem;
}

nav .navbar-nav .nav-item:hover {
  background-color: #3E9C7A;
}

nav .navbar-nav .nav-item.active {
  background-color: #3E9C7A;
}

#wrapper {
  margin-top: 13vh;
}

#produk .card {
  max-width: 100%;
}

#produk .card img {
  width: 100%;
  height: 200px;
}

@media screen and (max-width: 991px) {
  nav.navbar {
    padding: .5rem 1rem;
  }
}

@media screen and (max-width: 400px) {
  #produk .card ._card-body {
    display: flex;
    flex-direction: row;
  }

  #produk .card img {
    width: 100px;
    height: 100px;
  }
}